<?xml version="1.0" encoding="UTF-8"?>
<videos width="848" height="368">
	<item>
		<title>21 Jump Street</title>
		<mp4>http://css.flepstudio.org/demo/video_player/assets/videos/21_Jump_Street.mp4</mp4>
		<ogg>http://css.flepstudio.org/demo/video_player/assets/videos/21_Jump_Street.ogv</ogg>
		<description><![CDATA[<strong>21 Jump Street</strong> Lorem ipsum dolor sit amet, consectetuer <a href="http://css.flepstudio.org/"><font color="#FF0033"><strong> hiperlinks</strong></font></a>. Morbi a lorem quis sapien tincidunt adipiscing. Proin vel sapien. Vestibulum a orci. Sed fringilla accumsan nisl. Duis feugiat sem non ligula.Lorem ipsum dolor sit amet, consectetuer <a href="http://css.flepstudio.org/"><font color="#FF0033"><strong> hiperlinks</strong></font></a>. Morbi a lorem quis sapien tincidunt adipiscing. Proin vel sapien. Vestibulum a orci. Sed fringilla accumsan nisl. Duis feugiat sem non ligula.]]></description>
	</item>
	
	<item>
		<title>Answers to Nothing</title>
		<mp4>http://css.flepstudio.org/demo/video_player/assets/videos/Answers_to_Nothing.mp4</mp4>
		<ogg>http://css.flepstudio.org/demo/video_player/assets/videos/Answers_to_Nothing.ogv</ogg>
		<description><![CDATA[<strong>Answers to Nothing</strong> Lorem ipsum dolor sit amet, consectetuer <a href="http://css.flepstudio.org/"><font color="#FF0033"><strong> hiperlinks</strong></font></a>. Morbi a lorem quis sapien tincidunt adipiscing. Proin vel sapien. Vestibulum a orci. Sed fringilla accumsan nisl. Duis feugiat sem non ligula.]]></description>
	</item>
	
	<item>
		<title>Being Flynn</title>
		<mp4>http://css.flepstudio.org/demo/video_player/assets/videos/Being_Flynn.mp4</mp4>
		<ogg>http://css.flepstudio.org/demo/video_player/assets/videos/Being_FlynnBeing_Flynn.ogv</ogg>
		<description><![CDATA[<strong>Being Flynn</strong> Lorem ipsum dolor sit amet, consectetuer <a href="http://css.flepstudio.org/"><font color="#FF0033"><strong> hiperlinks</strong></font></a>. Morbi a lorem quis sapien tincidunt adipiscing. Proin vel sapien. Vestibulum a orci. Sed fringilla accumsan nisl. Duis feugiat sem non ligula.]]></description>
	</item>
	
	<item>
		<title>Brave</title>
		<mp4>http://css.flepstudio.org/demo/video_player/assets/videos/Brave.mp4</mp4>
		<ogg>http://css.flepstudio.org/demo/video_player/assets/videos/Brave.ogv</ogg>
		<description><![CDATA[<strong>Brave</strong> Lorem ipsum dolor sit amet, consectetuer <a href="http://css.flepstudio.org/"><font color="#FF0033"><strong> hiperlinks</strong></font></a>. Morbi a lorem quis sapien tincidunt adipiscing. Proin vel sapien. Vestibulum a orci. Sed fringilla accumsan nisl. Duis feugiat sem non ligula.]]></description>
	</item>
	
	<item>
		<title>Footnote</title>
		<mp4>http://css.flepstudio.org/demo/video_player/assets/videos/Footnote.mp4</mp4>
		<ogg>http://css.flepstudio.org/demo/video_player/assets/videos/Footnote.ogv</ogg>
		<description><![CDATA[<strong>Footnote</strong> Lorem ipsum dolor sit amet, consectetuer <a href="http://css.flepstudio.org/"><font color="#FF0033"><strong> hiperlinks</strong></font></a>. Morbi a lorem quis sapien tincidunt adipiscing. Proin vel sapien. Vestibulum a orci. Sed fringilla accumsan nisl. Duis feugiat sem non ligula.]]></description>
	</item>
	
	<item>
		<title>Happy Feet Two</title>
		<mp4>http://css.flepstudio.org/demo/video_player/assets/videos/Happy_Feet_Two.mp4</mp4>
		<ogg>http://css.flepstudio.org/demo/video_player/assets/videos/Happy_Feet_Two.ogv</ogg>
		<description><![CDATA[<strong>Happy Feet Two</strong> Lorem ipsum dolor sit amet, consectetuer <a href="http://css.flepstudio.org/"><font color="#FF0033"><strong> hiperlinks</strong></font></a>. Morbi a lorem quis sapien tincidunt adipiscing. Proin vel sapien. Vestibulum a orci. Sed fringilla accumsan nisl. Duis feugiat sem non ligula.]]></description>
	</item>
	
	<item>
		<title>Heir Apparent Largo Winch</title>
		<mp4>http://css.flepstudio.org/demo/video_player/assets/videos/Heir_Apparent_Largo_Winch.mp4</mp4>
		<ogg>http://css.flepstudio.org/demo/video_player/assets/videos/Heir_Apparent_Largo_Winch.ogv</ogg>
		<description><![CDATA[<strong>Heir Apparent Largo Winch</strong> Lorem ipsum dolor sit amet, consectetuer <a href="http://css.flepstudio.org/"><font color="#FF0033"><strong> hiperlinks</strong></font></a>. Morbi a lorem quis sapien tincidunt adipiscing. Proin vel sapien. Vestibulum a orci. Sed fringilla accumsan nisl. Duis feugiat sem non ligula.]]></description>
	</item>
	
	<item>
		<title>Ice Age Continental Drift</title>
		<mp4>http://css.flepstudio.org/demo/video_player/assets/videos/Ice_Age_Continental_Drift.mp4</mp4>
		<ogg>http://css.flepstudio.org/demo/video_player/assets/videos/Ice_Age_Continental_Drift.ogv</ogg>
		<description><![CDATA[<strong>Ice Age Continental Drift</strong> Lorem ipsum dolor sit amet, consectetuer <a href="http://css.flepstudio.org/"><font color="#FF0033"><strong> hiperlinks</strong></font></a>. Morbi a lorem quis sapien tincidunt adipiscing. Proin vel sapien. Vestibulum a orci. Sed fringilla accumsan nisl. Duis feugiat sem non ligula.]]></description>
	</item>
	
	<item>
		<title>Mission Impossible Ghost Protocol</title>
		<mp4>http://css.flepstudio.org/demo/video_player/assets/videos/Mission_Impossible_Ghost_Protocol.mp4</mp4>
		<ogg>http://css.flepstudio.org/demo/video_player/assets/videos/Mission_Impossible_Ghost_Protocol.ogv</ogg>
		<description><![CDATA[<strong>Mission Impossible Ghost Protocol</strong> Lorem ipsum dolor sit amet, consectetuer <a href="http://css.flepstudio.org/"><font color="#FF0033"><strong> hiperlinks</strong></font></a>. Morbi a lorem quis sapien tincidunt adipiscing. Proin vel sapien. Vestibulum a orci. Sed fringilla accumsan nisl. Duis feugiat sem non ligula.]]></description>
	</item>
	
	<item>
		<title>My Week With Marilyn</title>
		<mp4>http://css.flepstudio.org/demo/video_player/assets/videos/My_Week_With_Marilyn.mp4</mp4>
		<ogg>http://css.flepstudio.org/demo/video_player/assets/videos/My_Week_With_Marilyn.ogv</ogg>
		<description><![CDATA[<strong>My Week With Marilyn</strong> Lorem ipsum dolor sit amet, consectetuer <a href="http://css.flepstudio.org/"><font color="#FF0033"><strong> hiperlinks</strong></font></a>. Morbi a lorem quis sapien tincidunt adipiscing. Proin vel sapien. Vestibulum a orci. Sed fringilla accumsan nisl. Duis feugiat sem non ligula.]]></description>
	</item>
	
	<item>
		<title>rampart</title>
		<mp4>http://css.flepstudio.org/demo/video_player/assets/videos/rampart.mp4</mp4>
		<ogg>http://css.flepstudio.org/demo/video_player/assets/videos/rampart.ogv</ogg>
		<description><![CDATA[<strong>rampart</strong> Lorem ipsum dolor sit amet, consectetuer <a href="http://css.flepstudio.org/"><font color="#FF0033"><strong> hiperlinks</strong></font></a>. Morbi a lorem quis sapien tincidunt adipiscing. Proin vel sapien. Vestibulum a orci. Sed fringilla accumsan nisl. Duis feugiat sem non ligula.]]></description>
	</item>
	
	<item>
		<title>Shame</title>
		<mp4>http://css.flepstudio.org/demo/video_player/assets/videos/Shame.mp4</mp4>
		<ogg>http://css.flepstudio.org/demo/video_player/assets/videos/Shame.ogv</ogg>
		<description><![CDATA[<strong>Shame</strong> Lorem ipsum dolor sit amet, consectetuer <a href="http://css.flepstudio.org/"><font color="#FF0033"><strong> hiperlinks</strong></font></a>. Morbi a lorem quis sapien tincidunt adipiscing. Proin vel sapien. Vestibulum a orci. Sed fringilla accumsan nisl. Duis feugiat sem non ligula.]]></description>
	</item>
	
	<item>
		<title>The Descendants</title>
		<mp4>http://css.flepstudio.org/demo/video_player/assets/videos/The_Descendants.mp4</mp4>
		<ogg>http://css.flepstudio.org/demo/video_player/assets/videos/The_Descendants.ogv</ogg>
		<description><![CDATA[<strong>The Descendants</strong> Lorem ipsum dolor sit amet, consectetuer <a href="http://css.flepstudio.org/"><font color="#FF0033"><strong> hiperlinks</strong></font></a>. Morbi a lorem quis sapien tincidunt adipiscing. Proin vel sapien. Vestibulum a orci. Sed fringilla accumsan nisl. Duis feugiat sem non ligula.]]></description>
	</item>
	
	<item>
		<title>The Hunger Games</title>
		<mp4>http://css.flepstudio.org/demo/video_player/assets/videos/The_Hunger_Games.mp4</mp4>
		<ogg>http://css.flepstudio.org/demo/video_player/assets/videos/The_Hunger_Games.ogv</ogg>
		<description><![CDATA[<strong>The Hunger Games</strong> Lorem ipsum dolor sit amet, consectetuer <a href="http://css.flepstudio.org/"><font color="#FF0033"><strong> hiperlinks</strong></font></a>. Morbi a lorem quis sapien tincidunt adipiscing. Proin vel sapien. Vestibulum a orci. Sed fringilla accumsan nisl. Duis feugiat sem non ligula.]]></description>
	</item>
</videos>